<div class="jumbotron">
    <h1>Universidad Centroamericana</h1>
  
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Api</h2>
        <p>Aqui está el Api creada, tomé la tabla Products de la base de datos Northwind para crearla</p>
        <p><a class="btn btn-default" @Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</a></p>
    </div>
    <div class="col-md-4">
        <h2>Consumir API</h2>
        <p>Una vez creada el API de manera local se consume en este aparta, con una tabla de productos</p>
      
        <p><a class="btn btn-default" @Html.ActionLink("Consuming API", "Index", "ProductClient", new { area = "" }, null) </a></p>
    </div>
    
</div>
